/* VARIABLES */
:root {
    --white: #ffffff;
    --grey: #7d7f84;
    --h2padding-small: 10px;
    --h2padding-big: 30px;
    --h2font-size: 20px
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.flex-container{
    display: flex;
}

.btn{
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 20px;
    padding: 10px 35px;
    display: inline-block;
}

.square-img-box{
    object-fit: contain;
    border-radius: 50%;
    overflow: hidden;
}

.card span{
    color: var(--grey);
    font-size: 11px;
    line-height: 30px;
}

a{
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    display: block;
}


/********************
        MAIN 
*********************/
.main-container{
    height: calc(100vh - 80px);
}

/* NAV LEFT */
.nav-left{
    width: 200px;
    overflow-y: hidden;
    font-size: 12px;
    background-color: #000000;
}

.logo img{
    height: 60px;
    width: 130px;
    padding: 15px 17px;
}

.nav-left-content {
    height: calc(100vh - 140px);
    flex-direction: column;
}

.nav-left-content .nav-left-action a{
    padding-top: 5px;
    padding-left: 2px;
}

.nav-left-content a:last-child{
    font-size: 0.7rem;
    color: var(--grey);
    line-height: 20px;
    font-weight: 500;
}

.nav-left-content .nav-left-action a:last-child {
    padding-left: 8px;
}

.nav-left-action{
    padding-bottom: 15px;
}

.nav-left-action img{
    opacity: 0.7;
}

.nav-left-icons{
    width: 35px;
    padding-left: 15px;
}


.home a:last-child {
    color: var(--white);
    padding-left: 10px;
}

.home a:first-child{
    width: 35px;
    padding-top: 3px;
    border-left: 1.5px solid yellow;
}

/* hover -------------------*/
.nav-left-action .flex-container:hover img, 
.nav-left-action .flex-container:hover a{ 
    color: white;
    opacity: 1;
}


/* Playlist */
.playlist {
    margin: 0 auto;
    width: 83%;
    flex-grow: 1;
}

.playlist h5{
    padding: 5px 0 10px 0;
    font-size: 11px;
    color: var(--white);
}

.playlist-name{
    overflow: hidden;
    overflow-y: auto;
    height: 70%;
    line-height: 30px;
    padding-top: 0.5rem;
}

.create-playlist i{
    height: 30px;
    width: 30px;
    color: #000000;
    font-size: 15px;
    vertical-align: middle;
    background-color: var(--grey);
    text-align: center;
    line-height: 30px;
    margin-right: 0.6rem;
}

/* hover ---------------------------*/
.playlist-name a:hover,
.playlist .create-playlist:hover a{
    color: white;
}

.playlist .create-playlist:hover i{
    background-color: var(--white);
}


/* Nav left bottom */
.nav-left-bottom {
    height: 80px;
    width: 83%;
    margin: 0 auto;
}

.nav-left-bottom hr{
    opacity: 50%;
}

.download{
    padding-bottom: 5px;
}

.download img{
   width: 15px; 
   opacity: 0.5;
   padding-top: 2.5px;
}

.download a:last-child{
    color: var(--grey);
    padding-left: 7px;
}

.user {
    padding-top: 10px;
}

.user img{
    width: 25px;
    height: 25px;
    background-color: #7d7f84;
}

.user span{
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding-left: 15px;
}

/* hover------------------------------ */
.nav-left-bottom .download:hover a{
    color: white;
}
.nav-left-bottom .download:hover img {
    opacity: 1;
}


/* Menu small */
.menu-left-small {
    display: none;
}

.logo-small img{
    width: 60%;
    margin: 0 auto;
    padding-top: 5px;
}

.home-small img, 
.search-small img, 
.library-small img{
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    opacity: 0.8;
}

/* hover -----------------------*/
.menu-left-small img:hover{
    opacity: 1;
}


/* MAIN CONTENT*/
.main-content{
    width: calc(100% - 200px);
    overflow-y: auto;
    background-color: #141922;
    padding-bottom: 50px;
}

.main-content h2, h3{
    color: var(--white);
}

/* UPGRADE */
.upgrade{
    height: 70px;
    width: calc(100% - 200px);
    position: fixed;
    background-color: #080f129b;
    justify-content: flex-end; 
    align-items: center; 
    padding-right: 20px;
    z-index: 10;
}

.upgrade .button a{
    font-size: 10px; 
}

/* hover------------------------------ */
.button:hover {
    transform: scale(1.1);
}



/* MAIN ITEMS */
.main-items{
    padding-top: 85px;
    width: 95%;
    margin: 0 auto;
}

/* Actions List */
.actions-list ul{
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
    flex-wrap: wrap;
    
}
.actions-list ul li{
    padding: 0 10px;
    padding-bottom: 30px;
}

.actions-list a{
    color: var(--grey);
}

.actions-list .underline:after{
    content: "";
    margin: 0 auto;
    width: 35%;
    display: block;
    border-bottom: 2px solid #adff2f;
    padding-top: 1.5px;
}

/* hover ----------------------------------*/
.actions-list a:hover {
    color: var(--white);
}


/* Section 1 Recently Played */
.container-card {
    flex-wrap: wrap; 
}

.card {
    color: var(--grey);
    width: calc(100% / 6);
    padding-right: 10px;
    text-align: center;
    position: relative;
}

.recently-played h2{
    font-size: var(--h2font-size);
    padding-bottom: var(--h2padding-small);
    padding-bottom: var(--h2padding-big);
}

.card h3{
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 2px;
}

/* hover --------------------------------------*/
.hover-card {
    font-size: 3rem;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.card:hover .hover-card{
    display: block;
}
.card:hover img{
    opacity: 0.4;
}



/* Section 2 Created for User */
.for-user .container-card{
    justify-content: flex-start;  
}

.for-user h2 {
    font-size: var(--h2font-size);
    padding-top: 30px;
}

.for-user span{
    color: var(--grey);
    font-size: 11px;
    line-height: 30px;
}


/* Section 3 Most Popular */
.most-popular h2{
    font-size: var(--h2font-size);
    padding-top: var(--h2padding-big);
}
.most-popular span{
    color: var(--grey);
    font-size: 11px;
    line-height: 30px;
}


/******************
    BOTTOM NAV
*******************/
.bottom-actions{
    height: 80px;
    background-color: #282828;
    color: white;
    justify-content: space-between;
}
.bottom-actions ul{
    width: calc(100% / 3.5);
    align-items: center;
}

/* left */
.bottom-actions-left,
.bottom-actions-left .text {
    padding-left: 0.8rem;
}
.bottom-actions-left img{
    width: 40px;
}

.bottom-actions-left .text {
    line-height: 0.6rem;
}

.bottom-actions-left .text h4{
    font-size: 0.7rem;
}

.bottom-actions-left a{
    color: var(--grey);
    font-size: 0.8rem;
    font-weight: 600;
}

.bottom-actions-left .text a{
    font-size: 0.55rem;
    padding-right: 2rem;
}

.bottom-actions-left .icons a{
    padding-right: 0.5rem;
}

/* hover -------------------------------------*/
.bottom-actions-left .text a:hover{
    text-decoration: underline;
}

.bottom-actions-left a:hover{
    color: var(--white);
}


/* center */
.bottom-actions-center{
    justify-content: center;
    flex: 1;
}

.bottom-actions-center{
    flex-direction: column;
}

.bottom-actions-center a {
    padding: 0 0.6rem;
}

.bottom-actions-center a:nth-child(3) {
    font-size: 1.8rem;
}

.play-song a{
    vertical-align: middle;
}

.play-bar{
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.track {
    margin-top: 0.7rem;
    width: 100%;
    height: 0.2rem;
    border-radius: 10px;
    background-color: var(--grey);
    cursor: pointer;
}

.track-listened {
    margin-top: 0.7rem;
    width: 15%;
    height: 0.2rem;
    border-radius: 10px;
    background-color: lightgrey;
    position: absolute;
    top: 0;
    left: 2.6rem;
}

.knob{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background: white;
    transform: translate(-25%, -25%);
    display: none;
    position: absolute;
    left: 100%;
}

.minutes-listened, 
.minutes-remained {
    font-size: 9px;
    padding-top: 0.4rem;
}

.minutes-listened{
    padding-right: 1.5rem;
}

.minutes-remained {
    padding-left: 1.5rem;
}


/* hover ---------------------------------------*/
.play-song .fa-regular.fa-circle-play:hover {
    transform: scale(1.3);
}

.play-bar .track:hover .knob{
    display: block;
}

.play-bar .track:hover .track-listened{
    background-color: #adff2f;
}




/* right */
.bottom-actions-right {
    justify-content: flex-end;
}

.bottom-actions-right a{
    font-size: 0.7rem;
    padding-right: 0.8rem;
}

.sound-volume {
    width: 35%;
    padding-right: 1rem;
    padding-bottom: 8px;
    position: relative;
}

.sound-volume .trak {
        margin-top: 0;
}

.sound-volume .track-listened {
    left: 0;
}


/* hover ---------------------------------------*/
.sound-volume .track:hover .knob{
    display: block;
}

.sound-volume .track:hover .track-listened{
    background-color: #adff2f;
}


/************************************
    MEDIA QUERY DESKTOP FIRST 
*************************************/

/* MD SCREEN -------------------------------------*/
@media screen and ( max-width: 1100px ){

    /* Section 1 Recently Played */
    .recently-played .card {
        width: calc(100% / 4);
        padding-top: 0px;
    }
    .recently-played h2{
        font-size: 20px;
        padding-bottom: 20px;
    }

    /* Section 2 Created for User */
    .for-user .card {
        width: calc(100% / 4);
    }

    /* Section  3 Most Popular*/
    .most-popular .card {
        width: calc(100% / 4);
    }
}   




/* S SCREEN ----------------------------------------*/
@media screen and ( max-width: 700px ){

      /* Section 1 Recently Played */
    .recently-played .card {
        width: calc(100% / 2);
    }

    /* Section 2 Created for User */
    .for-user .card {
        width: calc(100% / 2);
    }

    /* Section  3 Most Popular*/
    .most-popular .card {
        width: calc(100% / 2);
    }
    
}




/* XS SCREEN -------------------------------------*/
@media screen and ( max-width: 600px ) {
    
    .nav-left{
        width: 45px;
    }
    .main-content{
        width: calc(100vw - 45px);
    }

    .upgrade {
        width: calc(100vw - 45px );
    }

    /* Nav Left */
    .menu-left-big {
        display: none;
    }

    .menu-left-small {
        display: flex;
        height: calc(100vh - 80px);
        flex-direction: column;
    }

    .menu-left-small-top {
        flex-grow: 1;
    }


    /* Nav left Bottom */
    .user img{
        width: 25px;
        height: 25px;
        background-color: #7d7f84;
    }
    .download img{
        width: 20px; 
        opacity: 50%;
     }

     .menu-left-small-bottom {
         margin: 0 auto;
         padding-bottom: 10px;
     }
  
}