/* VARIABLES */
:root {
    --white: #ffffff;
    --grey: #7d7f84;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
}

.flex-container{
    display: flex;
}

.btn{
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 20px;
    padding: 10px 35px;
    display: inline-block;
}

a{
    text-decoration: none;
}

/********************
        MAIN 
*********************/
/* NEW LEFT */
.main-container{
    height: calc(100vh - 80px);
}

.nav-left{
    width: 170px;
    overflow: hidden;
    /* test */
    background-color: coral;
}

/* UPGRADE */
.upgrade{
    height: 70px;
    width: calc(100vw - 170px);
    position: fixed;
    background-color: #080f129b;
    justify-content: flex-end; 
    align-items: center; 
    padding-right: 10px;
}

.upgrade .button a{
    font-size: 10px; 
}

.button:hover {
    transform: scale(1.1);
}

/* MAIN CONTENT*/
.main-content{
    width: calc(100vw - 170px);
    overflow-y: auto;
    height: padding;
    /* test */
    background-color: #141922;
}

.main-items{
    padding-top: 85px;
    width: 97%;
    max-width: 970px;
    margin: 0 auto;
}


/* Section 1 */




/******************
    BOTTOM NAV
*******************/
.bottom-actions{
    height: 80px;

    /* test */
    background-color: lightpink;
}





/************************************
    MEDIA QUERY DESKTOP FIRST 
*************************************/

/* XS SCREEN */
@media screen and ( max-width: 600px ) {
    .nav-left{
        width: 45px;
    }
    .main-content{
        width: calc(100vw - 45px);
    }

    .upgrade {
        width: calc(100vw - 45px );
    }
}